html, body, #root {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  padding: 20px;
}

.recording_section {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.notes_section {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recorder_component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audio_element_component {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.input_lecture_name {
  border: none;
  margin-top: 10px;
  text-align: center;
  width: auto;
}

.input_lecture_name:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.file_uploader_component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_upload {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button_upload:hover,
.button_upload:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button_upload:hover {
  transform: translateY(-1px);
}

.button_upload:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.generate_notes {
  width: fit-content;
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.generate_notes:hover {
  cursor: pointer;
}

#loading-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 50%;
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}